body{
    font-family: 'Kalam', cursive;
}

header{
    background: linear-gradient(#ffcc66, #fefefe, #ffcc66);
    padding: 20px 0px;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}

nav{
    position: absolute;
    top: 71px;
    right: 0px;

}

nav li{
    display: inline;
    margin: 0 0 0 40px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration:  none;
}

nav a:hover{
    color: #3041df;
    text-decoration: underline;
}

.servicios{
    width: 940px;
    margin: 0 auto;
    padding: 10px;
}

.servicios li{
    display: inline-block;
    text-align: center;
    width: 23%;
    vertical-align: middle;
    margin: 1% 1.5%;
    padding: 20px 30px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-top-width: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.servicios li:hover{
    border-color:  rgb(252, 186, 111);
}

.servicios li:active{
    border-color: #3041df;
}

.servicios h2{
    font-size: 25px;
    font-weight: bold;
}

.servicios li:hover h2{
    font-size: 33px;
}

.servicio-descripcion{
    font-size: 18px;
}

.servicio-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;

}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

form{
    margin: 40px 0 0 40PX;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    background-color: #ffcc66;
    border: none;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: #3041df;
    color: #ffcc66;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #ffcc66;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000 ;
    padding: 8px 15px;
}

/*CSS para nuestra página inicial home */

.banner {
    width: 100%;
    
}

.principal{
    padding: 2em 0;
    background: #ffcc66;    
    
}

.principal-contenido{
    width: 940px;
    margin: 0 auto;
    
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal:first-letter{
    font-size: 50px;
}

.titulo-principal a{
    text-decoration: none;
    color: #000000;
    transition: 500ms;
}

.titulo-principal a:hover{
    color: #3041df;
    text-shadow: 5px 5px 22px black;
}


.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.imagenParrafo{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 1em 0;
    background: linear-gradient(#ffcc66, #fefefe);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;    
}

.diferenciales{
    padding: 1em 0;
    background: linear-gradient(#fefefe,#ffcc66);
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align:top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content: "✦ ";
    color: #3041df;
}

.items:first-child{
    font-weight: bold;
    color: #3041df;
}

.imagen-diferenciales{
    width: 50%;
    opacity: 60%;
    transition: 1000ms;
    margin: 1em 0 0 1em;
    
}

.imagen-diferenciales:hover{
    opacity: 1;
    box-shadow: 10px 10px 10px 5px black, -1px -1px 10px 5px black;
}

.video{
    width: 560px;
    margin: 2em auto;
}

@media (max-width: 480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
     
    .caja, .principal-contenido, .mapa-contenido, .contenido-diferenciales, .video, .servicios, .servicios li{
        width: auto;
    }

    .servicios li{
        display: block;
        width: auto;
    }

    .lista-diferenciales, .imagen-diferenciales{
        width: auto;
        margin: 2% 0 0 2%;
    }
}